<header>
    <nav>
        <a routerLink="/home">
            <img src="../../assets/images/logo.png" alt="logo" class="logo">
        </a>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
                <!-- <a href="./home.html">Home</a> -->
            </li>
            <li>
                <a routerLink="/about">About Us</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="contact">Contact Us</a>
            </li>
        </ul>
        <div>
            
          
            <!-- <a href="./login.html" class="btn">Login</a> -->
            <a routerLink="/" class="fas fa-user-alt icon"></a>
            <a routerLink="./product-card.html" class="fa fa-shopping-bag icon"></a>
           
        </div>
    </nav>
</header>
