<div id="body">
    <form  method="get" class="login-form">
        <h2>Login </h2>
        <input type="email"  placeholder="Username" name="Username" [(ngModel)] = "formData.Username" class="login-input" required>
        <br>

        <input type="password" placeholder="Password" name="Password" [(ngModel)] = "formData.Password" class="login-input" required>
        <br>

        <input class="btn" (click)="login()" type="submit" value="Login">

        <p class="login-text">Not have an account?
            <a class="login-link" routerLink="/register">SignUp Here</a>
        </p>

    </form>

    <!-- <div *ngFor="let u of users">
        <p>{{u.email}}</p>
    </div> -->

    <!-- <h1>{{username}}</h1> -->

</div>
