<footer>
    <div class="sub-footer">
        <div class="site-details">
            <img src="../../assets/images/logo.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolorum aliquid illo nihil asperiores dignissimos, amet accusantium nemo consequuntur id? Labore, blanditiis facere. Earum, aspernatur animi! Alias tempore ratione itaque!</p>
        </div>
        <div class="links">
            <h6>Useful links</h6>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/contact">Contact US</a></li>
            </ul>
        </div>
        <div class="social-link">
            <h6>Useful links</h6>
            <ul>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Instragram</a></li>
                <li><a href="#">Gmail</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p>Copyright &#169; 2023 By Mayur Hajare</p>
</footer>